[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
django-seed = "*"

[packages]
django = "==3.0"
djangorestframework = "==3.11"
drf-yasg = "*"
django-oauth-toolkit = "*"

[requires]
python_version = "3.7"
